%h1
  Find authors

= form_tag authors_path, method: :get do
  = text_field_tag 'name', params[:name]
  = submit_tag 'Find'

  - if session[:queries]
    %strong= 'Last queries: '
    - session[:queries].split('|').each do |param|
      = link_to param, authors_path(name: param)
- if params[:name]
  - if @authors.size == 0
    %hr
    = "Author with '#{params[:name]}' not found in dataset"
  - elsif @authors.size > 1
    %hr
    %h2= "Query: '#{params[:name]}'"
    - @authors.each do |author|
      = link_to author[:name], author_path(author.neo_id)
      %br

%hr

- if @author
  %h1= @author[:name]
  %h2= "FOAF Authors (#{@foaf_authors.count})"
  = @foaf_authors.map{|author_name,count| "#{author_name} (#{count / 4})" }.join(', ')

  %hr
  - @author_groups.each_with_index do |group_author, index|
    %h1= "#{@author[:name]} num. #{index+1}"

    - unless group_author[:articles].empty?
      %h2= 'Articles'
      - group_author[:articles].each do |article|
        = article.outgoing(:year).first[:year]
        %strong= article[:title]
        %i
          = '('
          = article.outgoing(:authors).map{|author| link_to author[:name], author_path(author.neo_id)}.join(', ').html_safe
          = ')'
        %br

    - unless group_author[:in_proceedings].empty?
      %h2= 'In Proceedings'
      - group_author[:in_proceedings].each do |in_proceeding|
        = in_proceeding.outgoing(:year).first[:year]
        %strong= in_proceeding[:title]
        %i
          = '('
          = in_proceeding.outgoing(:authors).map{ |author| link_to author[:name], author_path(author.neo_id) }.join(', ').html_safe
          = ')'
        %br

    - unless group_author[:in_collections].empty?
      %h2= 'In Collections'
      - group_author[:in_collections].each do |in_collection|
        = in_collection.outgoing(:year).first[:year]
        %strong= in_collection[:title]
        %i
          = '('
          = in_collection.outgoing(:authors).map{ |author| link_to author[:name], author_path(author.neo_id) }.join(', ').html_safe
          = ')'
        %br

    %hr