%h1= 'Status'


%p
  = @status[:authors].to_s.format_number
  %strong authors
  %br

%p
  = @status[:in_proceedings].to_s.format_number
  %strong in_proceedings
  %br


%p
  = @status[:articles].to_s.format_number
  %strong articles
  %br



%p
  = @status[:books].to_s.format_number
  %strong books
  %br


%p
  = @status[:journals].to_s.format_number
  %strong journals
  %br


%p
  = @status[:years].to_s.format_number
  %strong years
  %br

%br

%p
  = @status[:all_relationship_types].to_s.format_number
  %strong all relationship types
  %br

%p
  = @status[:all_nodes].to_s.format_number
  %strong all nodes
  %br

%p
  = @status[:all_properties].to_s.format_number
  %strong all properties
  %br

%p
  = @status[:all_relationships].to_s.format_number
  %strong all relationships
  %br