!!!
%html
  %head
    %title= 'BibFoaf'
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)

%body
  = link_to 'Find authors', authors_path
  = '|'
  = link_to 'Status', controller: :status, action: :index

  %hr
  = yield
